@mixin xs {
  @media only screen and (min-width: 420px) {
    @content;
  }
}
@mixin sm {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}
@mixin md {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}
///////////////////////////////////////////

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
///////////////////////////////////

html {
  font-family: Arial,Helvetica sans-serif;
  font-size: 20px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: CadetBlue;
  color: lighten(#9370DB, 20%);
  @include xs {
    background-color: Chocolate;
    color: lighten(#9370DB, 30%);
    font-size: 1.3rem;
  }
  @include sm {
    background-color: AliceBlue;
    color: lighten(#9370DB, 40%);
    font-size: 1.4rem;
    color: CadetBlue;
  }
  @include md {
    background-color: Cornsilk;
    color: Chocolate;
    font-size: 1.5rem;
  }

  main {
    &#app {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .container {
      // border: 3px solid black;
      max-width: 1024px;
      margin: 0 auto;
      padding: 1em;
    }
#upperPart{
  height:450px;
  width: 100vw;
  position: relative;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 1.5px 1.5px 3px gray;
  background-image: url("../assets/images/health.jpg");

  @include xs {
    height:400px;
  }
  @include sm {
    height:600px;
  }
  @include md {
    height:900px;
  }

  .text{
  background-color: DimGray;
  color: white;
  font-size: 7vw;
  font-weight: bold;
  margin: 0 auto;
  border-radius: 5px;
  // padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode:multiply;
  }
}
    nav{
      display:flex;
      align-items: start;
      justify-content: space-between;
      width: 100%;
      padding: 0.5em;
      // background-color: white;
      #logo{
        color:DimGray;
        // &:hover{
        //   color: #262626;
        // }
      }

      ion-icon{
        color:DimGray;
        font-size: 2rem;
        &:hover{
          color: #262626;
        }
      }

      ul{
  display:block;

  @include xs {
    display:flex;
    align-items:center;
    justify-content:space;
    margin-left:-10em;
  }

  @include sm {
    display:flex;
    align-items:center;
    justify-content:space;
    margin-left:-9em;
  }

  @include md {
    display:flex;
    align-items:center;
    justify-content:space;
    margin-left:-8.5em;
  }

        li{
          a {
            color:DimGray;
            &:hover{
              color: #262626;
            }

          }
        }
      }
    }

    .sources-footer{
      h5{
        text-align: center;
        margin:0.5em 0;
        a{
          color:DimGray;
          &:hover{
            color: #262626;
          }
        }

      }
    }

    #content {
      display: flex;
      flex-direction: row;

      .aside {
        height: auto;
        width: 25vw;
        display: none;
        @include md {
          display: block;
        }

        section {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          p {
            margin: 0 0.5em;
          }
          p , h3{
            margin:1em 0;
          }

        }

        .image-all{
          height: 300px;
          width: 80%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 1.5px DimGray solid;
          border-radius: 0.3em;
          box-shadow: 1.5px 1.5px 3px gray;
        }

        #image-left1 {
          background-image: url("../assets/images/image-left1.jpg");
        }
        #image-left2 {
          background-image: url("../assets/images/image-left2.jpg");
        }
        #image-right1 {
          background-image: url("../assets/images/image-right1.jpg");
        }
        #image-right2 {
          background-image: url("../assets/images/image-right2.jpg");
        }
      }
    }
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////
.form {
  display: block;
  // width: clamp(20%, 45%, 50%);
  width: 100%;
  border-radius: 0.3em;
  padding: 1.5em;
  // background-color: Ivory;
  background-color: lighten(#9370DB, 20%);
  /*working // it works only in scss*/
  color: CadetBlue;
  box-shadow: 1.5px 1.5px 3px gray;
  @include xs {
    background-color: lighten(#9370DB, 30%);
    /*working // it works only in scss*/
    color: Chocolate;
    box-shadow: 1.5px 1.5px 3px gray;
  }
  @include sm {
    color: AliceBlue;
    /*working // it works only in scss*/
    background-color: CadetBlue;
    box-shadow: 3px 3px 5px gray;
  }
  @include md {
    color: Cornsilk;
    /*working // it works only in scss*/
    background-color: lighten(#D2691E, 20%);
    box-shadow: 3px 3px 5px gray;
  }

  label {
    text-transform: capitalize;
    letter-spacing: 0.1em;
    // display: block;

    &.error {
      color: red;
        input , textarea{
          border:3px solid red !important;
        }
    }

    &.valid {
      color: green;
        input , textarea{
          border:3px solid green !important;
        }
    }

    input {
      // display: block;
      width: 100%;
      line-height: 2em;
      border-radius: 0.3em;
      border: 1.5px solid DimGray;
      // font-weight: bold;
      color: CadetBlue;
      @include xs {
        color: Chocolate;
        font-size: 1.3rem;
      }
      @include sm {
        color: CadetBlue;
        font-size: 1.4rem;
      }
      @include md {
        font-size: 1.5rem;
        color: Chocolate;
      }

      &:focus {
        outline: none;
        border: 3px solid gray;
        background-color: HoneyDew;
      }
    }

    [type="radio"] {
      margin-top: -3em;
      display: inline-block;
    }
  }

textarea{
  width:100%;
  height:10vh;
  border-radius: 0.3em;
  border: 1.5px solid DimGray;
  font-weight: bold;
  color: CadetBlue;
  @include xs {
    color: Chocolate;
    font-size: 1.3rem;
  }
  @include sm {
    color: CadetBlue;
    font-size: 1.4rem;
  }
  @include md {
    color: Chocolate;
    font-size: 1.5rem;
  }

  &:focus {
    outline: none;
    border: 3px solid gray;
    background-color: HoneyDew;
  }
}

  #center-button {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      margin-top: 0.5em;
      min-width: 50%;
      outline: none;
      background-color: CadetBlue;
      color: lighten(#9370DB, 20%);
      font-size: 1rem;
      letter-spacing: 0.1em;
      // border: 1.5px DimGray solid;
      border:none;
      border-radius: 0.3em;
      padding: 0.5em;
      box-shadow: 3px 3px 5px gray;
      font-size: 1.3rem;
      @include xs {
        background-color: lighten(#9370DB, 30%);
        /*working // it works only in scss*/
        color: Chocolate;
        box-shadow: 3px 3px 5px gray;
      }
      @include sm {
        background-color: AliceBlue;
        /*working // it works only in scss*/
        color: CadetBlue;
        box-shadow: 1.5px 1.5px 3px gray;
        font-size: 1.4rem;
      }
      @include md {
        background-color: Cornsilk;
        /*working // it works only in scss*/
        color: Chocolate;
        box-shadow: 1.5px 1.5px 3px gray;
        font-size: 1.5rem;
      }

      &:hover {
        font-weight: bold;
        transition: 0.5s;
      }
    }
  }
}
////////////////////////////////////////////////////////////
///

select{
  width: 45%;
  line-height: 2em;
  border-radius: 0.3em;
  border: 1.5px solid DimGray;
  // font-weight: bold;
  color: CadetBlue;
  @include xs {
    color: Chocolate;
    font-size: 1.3rem;
    padding:0 1em;
  }
  @include sm {
    color: CadetBlue;
    font-size: 1.4rem;
  }
  @include md {
    font-size: 1.5rem;
    color: Chocolate;
  }

  &:focus {
    outline: none;
    border: 3px solid gray;
    background-color: HoneyDew;
  }

  option{
    width: 100%;
    line-height: 2em;
    border-radius: 0.3em;
    border: 1.5px solid DimGray;
    // font-weight: bold;
    color: CadetBlue;
    @include xs {
      color: Chocolate;
      font-size: 1.3rem;
    }
    @include sm {
      color: CadetBlue;
      font-size: 1.4rem;
    }
    @include md {
      font-size: 1.5rem;
      color: Chocolate;
    }

    &:focus {
      outline: none;
      border: 3px solid gray;
      background-color: HoneyDew;
    }

  }

}
/////////////////

#footer{
  // border:3px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button{
    margin-top: 0.5em;
    min-width: 50%;
    outline: none;
    background-color: CadetBlue;
    color: lighten(#9370DB, 20%);
    font-size: 1rem;
    letter-spacing: 0.1em;
    // border: 1.5px DimGray solid;
    border:none;
    border-radius: 0.3em;
    padding: 0.5em;
    box-shadow: 3px 3px 5px gray;
    font-size: 1.3rem;
    @include xs {
      background-color: lighten(#9370DB, 30%);
      /*working // it works only in scss*/
      color: Chocolate;
      box-shadow: 3px 3px 5px gray;
    }
    @include sm {
      background-color: AliceBlue;
      /*working // it works only in scss*/
      color: CadetBlue;
      box-shadow: 1.5px 1.5px 3px gray;
      font-size: 1.4rem;
    }
    @include md {
      background-color: Cornsilk;
      /*working // it works only in scss*/
      color: Chocolate;
      box-shadow: 1.5px 1.5px 3px gray;
      font-size: 1.5rem;
    }

    &:hover {
      font-weight: bold;
      transition: 0.5s;
    }
  }
}
////////////////

#info{
  // border:3px solid green;

  button{
    margin: 1.5em 0;
    min-width: 50%;
    outline: none;
    background-color: CadetBlue;
    color: lighten(#9370DB, 20%);
    font-size: 1rem;
    letter-spacing: 0.1em;
    // border: 1.5px DimGray solid;
    border:none;
    border-radius: 0.3em;
    padding: 0.5em;
    box-shadow: 3px 3px 5px gray;
    font-size: 1.3rem;
    @include xs {
      background-color: lighten(#9370DB, 30%);
      /*working // it works only in scss*/
      color: Chocolate;
      box-shadow: 3px 3px 5px gray;
    }
    @include sm {
      background-color: AliceBlue;
      /*working // it works only in scss*/
      color: CadetBlue;
      box-shadow: 1.5px 1.5px 3px gray;
      font-size: 1.4rem;
    }
    @include md {
      background-color: Cornsilk;
      /*working // it works only in scss*/
      color: Chocolate;
      box-shadow: 1.5px 1.5px 3px gray;
      font-size: 1.5rem;
    }

    &:hover {
      font-weight: bold;
      transition: 0.5s;
    }
  }
}

//////////////////

.about{
 //border:3px solid pink;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:0 1em;
  button{
    margin: 1.5em 0;
    min-width: 50%;
    outline: none;
    background-color: CadetBlue;
    color: lighten(#9370DB, 20%);
    font-size: 1rem;
    letter-spacing: 0.1em;
    // border: 1.5px DimGray solid;
    border:none;
    border-radius: 0.3em;
    padding: 0.5em;
    box-shadow: 3px 3px 5px gray;
    font-size: 1.3rem;
    @include xs {
      background-color: lighten(#9370DB, 30%);
      /*working // it works only in scss*/
      color: Chocolate;
      box-shadow: 3px 3px 5px gray;
    }
    @include sm {
      background-color: AliceBlue;
      /*working // it works only in scss*/
      color: CadetBlue;
      box-shadow: 1.5px 1.5px 3px gray;
      font-size: 1.4rem;
    }
    @include md {
      background-color: Cornsilk;
      /*working // it works only in scss*/
      color: Chocolate;
      box-shadow: 1.5px 1.5px 3px gray;
      font-size: 1.5rem;
    }

    &:hover {
      font-weight: bold;
      transition: 0.5s;
    }
  }
}

//////////////////
.before-after-img , .image-change , .vegetables-image , .removeAddImage{
  width:90%;
  @include xs {
  width:80%;
  }
  @include sm {
  width:60%;
  }
  @include md {
  width:40%;
  }
}

/////////////
.select-image{
  padding:0.5em;
  border-radius:50%;
  background-color:DimGray;
  width:200px;
  height:170px;
  @include xs {
  width:330px;
  height:300px;
  }
  @include sm {
  width:330px;
  height:300px;
  }
  @include md {
  width:330;
  height:300px;
  }
    &:hover{
    transition:0.5s;
    background-color:#262626;
  }
}
/////////////////////-------------------------------------------------exercises try
main button#showValueBtn{
  margin-left: calc(50% - 150px);
  margin-right: calc(50% - 150px);
  color:green;
  &:hover{
    color:white;
  }
}




















///////////
